apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-ui-nginx
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: guestbook-ui-nginx
  template:
    metadata:
      labels:
        app: guestbook-ui-nginx
    spec:
      containers:
      - image: docker.io/nginxinc/nginx-unprivileged:latest
        name: guestbook-ui-nginx
        ports:
        - containerPort: 8080
